In [2]:
import yfinance as yf
import pandas as pd
import os

In [5]:
os.makedirs("../data", exist_ok=True)

In [7]:
# The below code block is for downloading a diversified set of assets since it covers global markets. 
## Equities US, Europe, Japan and Emerging markets along with commodities like gold and bonds will be tracked. 
## The date range in the paper was till 2020 but I am extending the date range and collecting the data till 2024. I am hoping to generalise 
## the model trying to include covid uncertainities.

In [42]:
import yfinance as yf
import pandas as pd
import os

tickers = {
    'S&P500': '^GSPC',
    'FTSE100': '^FTSE',
    'Nikkei225': '^N225',
    'EEM': 'EEM',
    'Gold': 'GLD',
    'UST10Y': '^TNX'
}

start_date = "2010-01-01"
end_date = "2024-12-31"

# Downloading all tickers 
data = yf.download(
    list(tickers.values()),
    start=start_date,
    end=end_date,
    auto_adjust=False,
    progress=True
)

adj_close = data['Adj Close']

#Renaming
rename_map = {v: k for k, v in tickers.items()}
adj_close = adj_close.rename(columns=rename_map)

#Dropping rows with missing values
adj_close.dropna(inplace=True)

os.makedirs("../data", exist_ok=True)
adj_close.to_csv("../data/Qf_data.csv")

[*********************100%***********************]  6 of 6 completed

In [44]:
df = pd.read_csv("../data/qf_data.csv", index_col=0, parse_dates=True)
df.head()

,EEM,Gold,FTSE100,S&P500,Nikkei225,UST10Y
Date,,,,,,
2010-01-04,30.785858,109.800003,5500.299805,1132.989990,10654.790039,3.841
2010-01-05,31.009306,109.699997,5522.500000,1136.520020,10681.830078,3.755
2010-01-06,31.074186,111.510002,5530.000000,1137.140015,10731.450195,3.808
2010-01-07,30.893974,110.820000,5526.700195,1141.689941,10681.660156,3.822
2010-01-08,31.139063,111.370003,5534.200195,1144.979980,10798.320312,3.808

In [47]:
yf = pd.read_csv("../data/yf_data.csv")

In [49]:
yf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3484 entries, 0 to 3483
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3484 non-null   object
 1   EEM        3484 non-null   float64
 2   Gold       3484 non-null   float64
 3   FTSE100    3484 non-null   float64
 4   S&P500     3484 non-null   float64
 5   Nikkei225  3484 non-null   float64
 6   UST10Y     3484 non-null   float64
dtypes: float64(6), object(1)
memory usage: 190.7+ KB